.logo {
  width: 20%;
  display: block;
  margin: auto;
  margin-top: 4em; }

.info_panel {
  background: rgba(255, 255, 255, 0.81);
  margin-top: 3em;
  margin-bottom: 25em; }
  .info_panel .get_started {
    margin-top: 4em; }

.get_started_btn {
  background-color: #ee6e73;
  transition: background-color 0.5s ease; }

.get_started_btn:hover {
  background-color: #ff959a; }

@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px); } }
.bubble-container {
  position: fixed;
  top: 3em;
  left: 8em;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
  z-index: -5; }

.bubble-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px; }

.bubble {
  position: absolute;
  background: black;
  opacity: .7;
  border-radius: 50%;
  animation: move 3s infinite; }

.bubble:nth-child(1) {
  height: 16px;
  width: 16px;
  animation-delay: -0.2s;
  transform: translate3d(843px, 713px, 1070px);
  background: #cad926; }

.bubble:nth-child(2) {
  height: 4px;
  width: 4px;
  animation-delay: -0.4s;
  transform: translate3d(461px, 885px, 905px);
  background: #d92644; }

.bubble:nth-child(3) {
  height: 24px;
  width: 24px;
  animation-delay: -0.6s;
  transform: translate3d(303px, 771px, 501px);
  background: #2632d9; }

.bubble:nth-child(4) {
  height: 27px;
  width: 27px;
  animation-delay: -0.8s;
  transform: translate3d(353px, 24px, 1531px);
  background: #d97a26; }

.bubble:nth-child(5) {
  height: 19px;
  width: 19px;
  animation-delay: -1s;
  transform: translate3d(715px, 127px, 1157px);
  background: #268ed9; }

.bubble:nth-child(6) {
  height: 10px;
  width: 10px;
  animation-delay: -1.2s;
  transform: translate3d(484px, 226px, 1446px);
  background: #d926b2; }

.bubble:nth-child(7) {
  height: 12px;
  width: 12px;
  animation-delay: -1.4s;
  transform: translate3d(336px, 697px, 1809px);
  background: #2668d9; }

.bubble:nth-child(8) {
  height: 10px;
  width: 10px;
  animation-delay: -1.6s;
  transform: translate3d(411px, 614px, 226px);
  background: #d9264d; }

.bubble:nth-child(9) {
  height: 3px;
  width: 3px;
  animation-delay: -1.8s;
  transform: translate3d(657px, 628px, 304px);
  background: #2677d9; }

.bubble:nth-child(10) {
  height: 18px;
  width: 18px;
  animation-delay: -2s;
  transform: translate3d(329px, 806px, 874px);
  background: #32d926; }

.bubble:nth-child(11) {
  height: 27px;
  width: 27px;
  animation-delay: -2.2s;
  transform: translate3d(243px, 360px, 677px);
  background: #c126d9; }

.bubble:nth-child(12) {
  height: 13px;
  width: 13px;
  animation-delay: -2.4s;
  transform: translate3d(105px, 848px, 1565px);
  background: #265fd9; }

.bubble:nth-child(13) {
  height: 24px;
  width: 24px;
  animation-delay: -2.6s;
  transform: translate3d(853px, 456px, 173px);
  background: #26bed9; }

.bubble:nth-child(14) {
  height: 7px;
  width: 7px;
  animation-delay: -2.8s;
  transform: translate3d(317px, 293px, 143px);
  background: #26d9a9; }

.bubble:nth-child(15) {
  height: 9px;
  width: 9px;
  animation-delay: -3s;
  transform: translate3d(296px, 923px, 1953px);
  background: #d9b826; }

.bubble:nth-child(16) {
  height: 1px;
  width: 1px;
  animation-delay: -3.2s;
  transform: translate3d(661px, 518px, 51px);
  background: #26d985; }

.bubble:nth-child(17) {
  height: 17px;
  width: 17px;
  animation-delay: -3.4s;
  transform: translate3d(283px, 884px, 172px);
  background: #26d94d; }

.bubble:nth-child(18) {
  height: 12px;
  width: 12px;
  animation-delay: -3.6s;
  transform: translate3d(374px, 862px, 1815px);
  background: #d9267a; }

.bubble:nth-child(19) {
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(510px, 320px, 1999px);
  background: #26d953; }

.bubble:nth-child(20) {
  height: 21px;
  width: 21px;
  animation-delay: -4s;
  transform: translate3d(947px, 675px, 768px);
  background: #b226d9; }

.bubble:nth-child(21) {
  height: 8px;
  width: 8px;
  animation-delay: -4.2s;
  transform: translate3d(688px, 499px, 1798px);
  background: #d92c26; }

.bubble:nth-child(22) {
  height: 28px;
  width: 28px;
  animation-delay: -4.4s;
  transform: translate3d(607px, 89px, 1836px);
  background: #d92659; }

.bubble:nth-child(23) {
  height: 25px;
  width: 25px;
  animation-delay: -4.6s;
  transform: translate3d(643px, 274px, 754px);
  background: #b5d926; }

.bubble:nth-child(24) {
  height: 30px;
  width: 30px;
  animation-delay: -4.8s;
  transform: translate3d(126px, 147px, 1652px);
  background: #26d9a0; }

.bubble:nth-child(25) {
  height: 6px;
  width: 6px;
  animation-delay: -5s;
  transform: translate3d(826px, 108px, 220px);
  background: #d92635; }

.bubble:nth-child(26) {
  height: 29px;
  width: 29px;
  animation-delay: -5.2s;
  transform: translate3d(6px, 552px, 134px);
  background: #2644d9; }

.bubble:nth-child(27) {
  height: 9px;
  width: 9px;
  animation-delay: -5.4s;
  transform: translate3d(125px, 936px, 572px);
  background: #d92653; }

.bubble:nth-child(28) {
  height: 30px;
  width: 30px;
  animation-delay: -5.6s;
  transform: translate3d(511px, 269px, 159px);
  background: #264ad9; }

.bubble:nth-child(29) {
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(808px, 661px, 759px);
  background: #26a3d9; }

.bubble:nth-child(30) {
  height: 14px;
  width: 14px;
  animation-delay: -6s;
  transform: translate3d(394px, 711px, 682px);
  background: #d9cd26; }

.bubble:nth-child(31) {
  height: 14px;
  width: 14px;
  animation-delay: -6.2s;
  transform: translate3d(819px, 560px, 90px);
  background: #d92635; }

.bubble:nth-child(32) {
  height: 24px;
  width: 24px;
  animation-delay: -6.4s;
  transform: translate3d(17px, 247px, 1769px);
  background: #26a0d9; }

.bubble:nth-child(33) {
  height: 21px;
  width: 21px;
  animation-delay: -6.6s;
  transform: translate3d(225px, 828px, 1078px);
  background: #5026d9; }

.bubble:nth-child(34) {
  height: 22px;
  width: 22px;
  animation-delay: -6.8s;
  transform: translate3d(246px, 432px, 615px);
  background: #d9be26; }

.bubble:nth-child(35) {
  height: 7px;
  width: 7px;
  animation-delay: -7s;
  transform: translate3d(304px, 660px, 1322px);
  background: #9726d9; }

.bubble:nth-child(36) {
  height: 11px;
  width: 11px;
  animation-delay: -7.2s;
  transform: translate3d(651px, 88px, 34px);
  background: #d0d926; }

.bubble:nth-child(37) {
  height: 13px;
  width: 13px;
  animation-delay: -7.4s;
  transform: translate3d(316px, 243px, 839px);
  background: #59d926; }

.bubble:nth-child(38) {
  height: 8px;
  width: 8px;
  animation-delay: -7.6s;
  transform: translate3d(49px, 708px, 756px);
  background: #d92688; }

.bubble:nth-child(39) {
  height: 11px;
  width: 11px;
  animation-delay: -7.8s;
  transform: translate3d(570px, 427px, 930px);
  background: #8bd926; }

.bubble:nth-child(40) {
  height: 2px;
  width: 2px;
  animation-delay: -8s;
  transform: translate3d(854px, 998px, 348px);
  background: #d99d26; }

.bubble:nth-child(41) {
  height: 27px;
  width: 27px;
  animation-delay: -8.2s;
  transform: translate3d(386px, 348px, 907px);
  background: #26d9a3; }

.bubble:nth-child(42) {
  height: 24px;
  width: 24px;
  animation-delay: -8.4s;
  transform: translate3d(74px, 665px, 1502px);
  background: #47d926; }

.bubble:nth-child(43) {
  height: 16px;
  width: 16px;
  animation-delay: -8.6s;
  transform: translate3d(586px, 675px, 1675px);
  background: #d92662; }

.bubble:nth-child(44) {
  height: 8px;
  width: 8px;
  animation-delay: -8.8s;
  transform: translate3d(383px, 423px, 1458px);
  background: #d926c7; }

.bubble:nth-child(45) {
  height: 14px;
  width: 14px;
  animation-delay: -9s;
  transform: translate3d(3px, 350px, 912px);
  background: #26d9d6; }

.bubble:nth-child(46) {
  height: 9px;
  width: 9px;
  animation-delay: -9.2s;
  transform: translate3d(951px, 153px, 1351px);
  background: #d9c126; }

.bubble:nth-child(47) {
  height: 11px;
  width: 11px;
  animation-delay: -9.4s;
  transform: translate3d(558px, 167px, 1012px);
  background: #7426d9; }

.bubble:nth-child(48) {
  height: 28px;
  width: 28px;
  animation-delay: -9.6s;
  transform: translate3d(794px, 595px, 1399px);
  background: #d92682; }

.bubble:nth-child(49) {
  height: 5px;
  width: 5px;
  animation-delay: -9.8s;
  transform: translate3d(650px, 416px, 1103px);
  background: #26b5d9; }

.bubble:nth-child(50) {
  height: 11px;
  width: 11px;
  animation-delay: -10s;
  transform: translate3d(477px, 700px, 1434px);
  background: #d0d926; }

.bubble:nth-child(51) {
  height: 15px;
  width: 15px;
  animation-delay: -10.2s;
  transform: translate3d(565px, 161px, 1178px);
  background: #9426d9; }

.bubble:nth-child(52) {
  height: 23px;
  width: 23px;
  animation-delay: -10.4s;
  transform: translate3d(552px, 578px, 1458px);
  background: #26a9d9; }

.bubble:nth-child(53) {
  height: 18px;
  width: 18px;
  animation-delay: -10.6s;
  transform: translate3d(40px, 447px, 1501px);
  background: #d92659; }

.bubble:nth-child(54) {
  height: 28px;
  width: 28px;
  animation-delay: -10.8s;
  transform: translate3d(106px, 915px, 980px);
  background: #265fd9; }

.bubble:nth-child(55) {
  height: 7px;
  width: 7px;
  animation-delay: -11s;
  transform: translate3d(108px, 138px, 528px);
  background: #26d95f; }

.bubble:nth-child(56) {
  height: 30px;
  width: 30px;
  animation-delay: -11.2s;
  transform: translate3d(457px, 116px, 888px);
  background: #d92674; }

.bubble:nth-child(57) {
  height: 1px;
  width: 1px;
  animation-delay: -11.4s;
  transform: translate3d(163px, 712px, 1688px);
  background: #80d926; }

.bubble:nth-child(58) {
  height: 17px;
  width: 17px;
  animation-delay: -11.6s;
  transform: translate3d(856px, 178px, 1389px);
  background: #d926a6; }

.bubble:nth-child(59) {
  height: 5px;
  width: 5px;
  animation-delay: -11.8s;
  transform: translate3d(12px, 328px, 1838px);
  background: #a6d926; }

.bubble:nth-child(60) {
  height: 18px;
  width: 18px;
  animation-delay: -12s;
  transform: translate3d(633px, 703px, 342px);
  background: #26d99d; }

.bubble:nth-child(61) {
  height: 15px;
  width: 15px;
  animation-delay: -12.2s;
  transform: translate3d(853px, 765px, 1509px);
  background: #26bed9; }

.bubble:nth-child(62) {
  height: 30px;
  width: 30px;
  animation-delay: -12.4s;
  transform: translate3d(742px, 528px, 290px);
  background: #d96526; }

.bubble:nth-child(63) {
  height: 25px;
  width: 25px;
  animation-delay: -12.6s;
  transform: translate3d(978px, 588px, 1089px);
  background: #2fd926; }

.bubble:nth-child(64) {
  height: 11px;
  width: 11px;
  animation-delay: -12.8s;
  transform: translate3d(169px, 707px, 706px);
  background: #d92682; }

.bubble:nth-child(65) {
  height: 10px;
  width: 10px;
  animation-delay: -13s;
  transform: translate3d(947px, 162px, 1431px);
  background: #4ad926; }

.bubble:nth-child(66) {
  height: 11px;
  width: 11px;
  animation-delay: -13.2s;
  transform: translate3d(877px, 849px, 1228px);
  background: #26d98b; }

.bubble:nth-child(67) {
  height: 10px;
  width: 10px;
  animation-delay: -13.4s;
  transform: translate3d(732px, 940px, 1977px);
  background: #d95926; }

.bubble:nth-child(68) {
  height: 3px;
  width: 3px;
  animation-delay: -13.6s;
  transform: translate3d(59px, 895px, 794px);
  background: #26d959; }

.bubble:nth-child(69) {
  height: 5px;
  width: 5px;
  animation-delay: -13.8s;
  transform: translate3d(169px, 23px, 520px);
  background: #d92671; }

.bubble:nth-child(70) {
  height: 20px;
  width: 20px;
  animation-delay: -14s;
  transform: translate3d(332px, 436px, 1379px);
  background: #35d926; }

.bubble:nth-child(71) {
  height: 12px;
  width: 12px;
  animation-delay: -14.2s;
  transform: translate3d(743px, 642px, 1589px);
  background: #2688d9; }

.bubble:nth-child(72) {
  height: 12px;
  width: 12px;
  animation-delay: -14.4s;
  transform: translate3d(866px, 356px, 159px);
  background: #d9c426; }

.bubble:nth-child(73) {
  height: 27px;
  width: 27px;
  animation-delay: -14.6s;
  transform: translate3d(937px, 195px, 298px);
  background: #2f26d9; }

.bubble:nth-child(74) {
  height: 1px;
  width: 1px;
  animation-delay: -14.8s;
  transform: translate3d(346px, 682px, 1512px);
  background: #26d9ca; }

.bubble:nth-child(75) {
  height: 6px;
  width: 6px;
  animation-delay: -15s;
  transform: translate3d(711px, 52px, 534px);
  background: #2688d9; }

.bubble:nth-child(76) {
  height: 21px;
  width: 21px;
  animation-delay: -15.2s;
  transform: translate3d(292px, 469px, 339px);
  background: #d98526; }

.bubble:nth-child(77) {
  height: 9px;
  width: 9px;
  animation-delay: -15.4s;
  transform: translate3d(403px, 999px, 1787px);
  background: #d92668; }

.bubble:nth-child(78) {
  height: 3px;
  width: 3px;
  animation-delay: -15.6s;
  transform: translate3d(252px, 170px, 1676px);
  background: #d926d9; }

.bubble:nth-child(79) {
  height: 15px;
  width: 15px;
  animation-delay: -15.8s;
  transform: translate3d(62px, 905px, 453px);
  background: #d98526; }

.bubble:nth-child(80) {
  height: 3px;
  width: 3px;
  animation-delay: -16s;
  transform: translate3d(131px, 727px, 647px);
  background: #35d926; }

.bubble:nth-child(81) {
  height: 16px;
  width: 16px;
  animation-delay: -16.2s;
  transform: translate3d(71px, 260px, 1856px);
  background: #d9263b; }

.bubble:nth-child(82) {
  height: 24px;
  width: 24px;
  animation-delay: -16.4s;
  transform: translate3d(334px, 522px, 1164px);
  background: #26d9c4; }

.bubble:nth-child(83) {
  height: 19px;
  width: 19px;
  animation-delay: -16.6s;
  transform: translate3d(481px, 47px, 1488px);
  background: #9ad926; }

.bubble:nth-child(84) {
  height: 20px;
  width: 20px;
  animation-delay: -16.8s;
  transform: translate3d(84px, 248px, 1304px);
  background: #267ad9; }

.bubble:nth-child(85) {
  height: 14px;
  width: 14px;
  animation-delay: -17s;
  transform: translate3d(2px, 411px, 1322px);
  background: #26b2d9; }

.bubble:nth-child(86) {
  height: 3px;
  width: 3px;
  animation-delay: -17.2s;
  transform: translate3d(394px, 204px, 1953px);
  background: #c7d926; }

.bubble:nth-child(87) {
  height: 2px;
  width: 2px;
  animation-delay: -17.4s;
  transform: translate3d(176px, 383px, 163px);
  background: #d926a9; }

.bubble:nth-child(88) {
  height: 3px;
  width: 3px;
  animation-delay: -17.6s;
  transform: translate3d(23px, 262px, 689px);
  background: #4dd926; }

.bubble:nth-child(89) {
  height: 14px;
  width: 14px;
  animation-delay: -17.8s;
  transform: translate3d(406px, 467px, 1105px);
  background: #d926c1; }

.bubble:nth-child(90) {
  height: 28px;
  width: 28px;
  animation-delay: -18s;
  transform: translate3d(362px, 940px, 1395px);
  background: #50d926; }

.bubble:nth-child(91) {
  height: 4px;
  width: 4px;
  animation-delay: -18.2s;
  transform: translate3d(512px, 771px, 1773px);
  background: #266ed9; }

.bubble:nth-child(92) {
  height: 28px;
  width: 28px;
  animation-delay: -18.4s;
  transform: translate3d(46px, 66px, 1405px);
  background: #59d926; }

.bubble:nth-child(93) {
  height: 1px;
  width: 1px;
  animation-delay: -18.6s;
  transform: translate3d(751px, 343px, 1997px);
  background: #d92665; }

.bubble:nth-child(94) {
  height: 3px;
  width: 3px;
  animation-delay: -18.8s;
  transform: translate3d(86px, 903px, 1645px);
  background: #26d956; }

.bubble:nth-child(95) {
  height: 6px;
  width: 6px;
  animation-delay: -19s;
  transform: translate3d(100px, 357px, 585px);
  background: #74d926; }

.bubble:nth-child(96) {
  height: 29px;
  width: 29px;
  animation-delay: -19.2s;
  transform: translate3d(845px, 801px, 1117px);
  background: #a926d9; }

.bubble:nth-child(97) {
  height: 14px;
  width: 14px;
  animation-delay: -19.4s;
  transform: translate3d(710px, 606px, 1740px);
  background: #d96e26; }

.bubble:nth-child(98) {
  height: 14px;
  width: 14px;
  animation-delay: -19.6s;
  transform: translate3d(586px, 563px, 1333px);
  background: #26d3d9; }

.bubble:nth-child(99) {
  height: 6px;
  width: 6px;
  animation-delay: -19.8s;
  transform: translate3d(370px, 353px, 824px);
  background: #d9b826; }

.bubble:nth-child(100) {
  height: 4px;
  width: 4px;
  animation-delay: -20s;
  transform: translate3d(826px, 186px, 1703px);
  background: #266bd9; }

/*# sourceMappingURL=landing.component.css.map */
