<div class="container info_panel">
  <div class="row">
    <div class="col s10 offset-s1 center-align">
      <h4 class="grey_txt">Purchase Sigma Coins</h4>
      <p class="grey_txt text_spacer">Fill out the form below to get started.</p>
      <!--<br>-->
      <p class="grey_txt">Purchase Currency</p>
      <select class="purchase_curr" name="purchase_curr" [(ngModel)]="purchase_curr">
          <option value="btc">BitCoin</option>
          <option value="eth">Ethereum</option>
      </select>
      <br>
      <p class="grey_txt">Purchase Amount</p>
      <input class="formInput" type="text" placeholder="" [(ngModel)]="purchase_amt">
      <br>
      <p class="grey_txt">Hash of Transaction Account</p>
      <input class="formInput" type="text" placeholder="" [(ngModel)]="transaction_account">
      <br>
      <a class="waves-effect waves-light btn submit_btn" (click)="purchaseSubmit()">Submit</a>
    </div>
  </div>
</div>

